<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Relax Games</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="/css/styledetalle.css" rel="stylesheet">
    </head>
        <body>
            <%- include("./partials/header") %>
            <main>
                <div class="todo">
                    <div class="contenedor">
                        <img src="/images/<%=producto.imgref%>"" alt="stylesheet">
                        
                    </div>
                    <div class="informacion">
                        <h2>INFORMACION</h2>
                        <p><%=producto.description%></p>
                        <div class="compra"> 
                            <div class="oferta">%<%=producto.discount%></div>             
                            <div class="precio"><%=producto.price%></div> 
                            <div class="boton"><button>Comprar</button></div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("./partials/footer") %>
        </body>
</html>